h2 {
	padding-left: 15px;
}
portrait{
	padding: 0 15px; 
	float: left;
}
hr{
	height:3px;
}
body{
	margin-left: 200px;
	margin-right: 200px;
	font-family: verdana;
}

p{
	padding-left: 15px;
}